<div>
  <h1>
    Quarenteners Balance
  </h1>
</div>
<div>
  <img [src]="imgUrl">
</div>
<p>
  Acreditamos que uma das melhores maneiras de
  enfrentarmos o Corona Vírus é com equilíbrio e
  controle emocional. Para isso, estamos disponibilizando
  uma lista de profissionais da área da saúde.
</p>
<p>
  São diversos Psicólogos, Personal Trainers,
  Nutricionistas entre outros profissionais que estão
  disponibilizando diversas videoaulas para te ajudar a
  enfrentar melhor o isolamento social e o dia a dia
  desta pandemia.
</p>
